$color-black: #2c3e50;
$color-blue: #2980b9;
$color-green: #27ae60;
$color-grey: #bdc3c7;
$color-orange: #e67e22;
$color-red: #e74c3c;
$color-white: #ffffff;
$color-yellow: #f1c40f;

$color-primary: $color-blue;
$color-secondary: $color-grey;

$color-info: #3498db;
$color-success: $color-green;
$color-warning: $color-orange;
$color-danger: $color-red;

$color-border: #ccc;
$color-light: #aabed1;

$breakpoint-xs: 360px;
$breakpoint-sm: 470px;
$breakpoint-md: 768px;
$breakpoint-lg: 1023px;
$breakpoint-xl: 1590px;
