@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import '~react-flexbox-grid/dist/react-flexbox-grid.css';
@import './config';

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

:root {
  @if global-variable-exists(scale) {
    --scale-element: 1;
    --scale-font: 1;

    @each $size in $scale {
      @media (max-height: nth($size, 1)) {
        --scale-element: #{nth($size, 2)};
        --scale-font: #{nth($size, 2)};
      }
    }
  }
}

html,
body {
  min-height: 100vh;
  background-color: $color-black;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include rem(font-size, 18px);
  font-family: 'Open Sans', sans-serif;
  color: $color-white;
  position: relative;
  margin: 0;
  line-height: 1.5;
  text-size-adjust: 100%;

  @supports (-webkit-touch-callout: none) {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  @include rem(font-size, 36px);
  line-height: 1.15;
}

h2 {
  @include rem(font-size, 34px);
  line-height: 1.235;
}

h3 {
  @include rem(font-size, 24px);
  line-height: 1.235;

  @include breakpoint(md) {
    @include rem(font-size, 28px);
  }
}

h4 {
  @include rem(font-size, 23px);
  line-height: 1.35;
}

h5 {
  @include rem(font-size, 18px);
  line-height: 1.5;
}

h6 {
  @include rem(font-size, 16px);
  line-height: 1.5;
}

p {
  @include rem(font-size, 18px);
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol {
  @include rem(font-size, 18px);
  margin: 0;
  margin-bottom: 1rem;

  &.pagination {
    li {
      &.active {
        a {
          color: $color-blue!important;
        }
      }
      &.disabled {
        a {
          cursor: not-allowed;
          color: $color-grey;
        }
      }
    }
  }
}

button,
input,
textarea,
select {
  @include rem(font-size, 18px);
  @include rem(padding, 6px 12px);

  :focus {
    outline: 0;
  }
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

a {
  text-decoration: none;
  color: $color-blue;

  &:hover {
    text-decoration: underline;
  }
}
