@import 'styles/config.scss';
$size: 50px;

.spinner {
  position: relative;
  margin: 0 auto;
  width: $size;
  height: $size;
  animation: spinner 0.75s linear infinite;

  span {
    @include border-radius(50%);
    position: absolute;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
      background: linear-gradient(to right, rgba($color-blue, 0) 0%, rgba($color-blue, 0) 50%, $color-blue 51%);
    }

    &:nth-child(2) {
      background: linear-gradient(to top, rgba($color-black, 0) 0%, $color-black 100%);
    }

    &:nth-child(3) {
      $offset: $size * 0.1;
      top: $offset;
      left: $offset;
      width: $size - ($offset * 2);
      height: $size - ($offset * 2);
      background: $color-black;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}