@import 'styles/config.scss';

.navigation {
    @include rem(padding, 15px 0);
    @include rem(margin-bottom, 30px);
    background-color: rgba(0, 0, 0, .3);

    &__links {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

        @include breakpoint(md) {
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    &__link {
        a {
            color: $color-white;

            &:hover {
                color: $color-border;
                text-decoration: none;
            }
        }
    }
}