@import 'styles/config.scss';

.options {
    @include rem(margin-bottom, 30px);

    &__options {
        @include border-radius(5px);
        @include rem(padding, 15px);
        display: flex;
        flex-direction: column;
        border: 1px solid $color-border;

        @include breakpoint(md) {
            flex-direction: row;
        }
    }

    &__option {
        @include rem(margin-bottom, 15px);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(md) {
            @include rem(margin-right, 30px);
            flex-direction: row;
            margin-bottom: 0;
        }
        
        label {
            @include rem(margin-bottom, 10px);

            @include breakpoint(md) {
                @include rem(margin-right, 10px);
                margin-bottom: 0;
            }
        }
    }
}